@import '../../variables.scss';

.overlay {
	background-color: rgba(0, 0, 0, 0.6);
	bottom: 0;
	height: 100%;
	position: fixed;
	right: 0;
	top: 4rem;
	width: 100%;
	z-index: 90;
}

.sidebarStyles {
	background-color: #282c34;
	bottom: 0;
	color: whitesmoke;
	height: 100%;
	left: 0;
	padding: 1.2rem;
	position: fixed;
	top: 4rem;
	transform: translateX(-100%);
	transition: transform 0.3s ease;
	width: 70%;
	z-index: 100;
}

.sidebarVisible {
	transform: translateX(0);
}

.siteList {
	color: whitesmoke;
	list-style-type: none;
	padding: 0;

	li {
		padding-bottom: 1.5rem;
		display: flex;
		gap: 1rem;
	}
}

.siteLink {
	color: whitesmoke;
	font-weight: bolder;
	padding-bottom: 3px;
	text-decoration: none;
	position: relative;

	&:after {
		background: $color;
		bottom: -8px;
		content: '';
		height: 5px;
		left: 0;
		opacity: 0;
		position: absolute;
		transform: translateX(30vw);
		transition: all 0.3s ease-in-out;
		width: 2.55rem;
		z-index: -1; // Para que no se pueda hacer click en el pseudoelemento
	}
}

.active {
	&:after {
		opacity: 1;
		transform: translateX(0);
		transition: all 0.2s ease-in-out;
	}
}

.websiteList {
	background: #23262b; // #c8ddff
	border-radius: 5px;
	border: 1px solid #555;
	color: $color;
	height: 50vh;
	list-style-type: none;
	margin: 0;
	padding: 1rem 0 0 0.7rem;

	li {
		display: flex;
		gap: 0.7rem;
		padding-bottom: 1rem;

		a {
			color: $color;
			font-weight: bold;
			text-decoration: none;
		}
	}
}
